<nav class="tm-main-nav">  
    <ul class="tm-main-nav-ul">
        <li class="tm-nav-item">
            <a href="#welcome" class="tm-nav-item-link">Introduction</a>
        </li>
        <li class="tm-nav-item">
            <a href="#about" class="tm-nav-item-link">News</a>
        </li>
        <li class="tm-nav-item">
            <a href="#about" class="tm-nav-item-link">Certifications</a>
        </li>
        <li class="tm-nav-item">
            <a href="#galleryone" class="tm-nav-item-link">Publications</a>
        </li>

        <li class="tm-nav-item">
            <a href="#contact" class="tm-nav-item-link">Professional Experience</a>
        </li>
        <li class="tm-nav-item">
            <a href="#contact" class="tm-nav-item-link">Research Experience</a>
        </li>
        <li class="tm-nav-item">
            <a href="#contact" class="tm-nav-item-link">Education</a>
        </li>
    </ul>
</nav>    